<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Órganos Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let item of items">
        <ion-card>
          <ion-img [src]="item.imagen"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ item.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ item.descripcion }}</p>
            <h3>{{ item.precio | currency }}</h3>
            
            <ion-button expand="block" color="primary" (click)="agregarAlCarrito(item)">Agregar al Carro</ion-button>
            
            <!-- Mostrar la cantidad en el carrito -->
            <p *ngIf="cantidadEnCarrito(item.nombre) > 0">
              Cantidad en carrito: {{ cantidadEnCarrito(item.nombre) }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
